body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: #000000e8;
}
#pagetitle{
    color: white;
    
}
#likeButton:hover{
    background-color: rgba(29, 155, 155, 0.808);
    color: white;
    font-family: sans-serif;
    box-shadow: -2px 5px 5px rgba(12, 68, 68, 0.438);
    font-weight: bold;
}
.countnbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
   
    
}
section{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: -5px 5px 5px rgba(255, 255, 255, 0.329);
}
.image-div{
    align-content:left ;
}
#albpic{
    width: 300px;
}
#likeButton{
    width: 90px;
    height: 30px;
    color: black;
    background-color: rgba(0, 128, 128, 0.514);
    border: 0;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
#increment-text,#like {
    align-self:top;
    margin-top: 0.8px;
    color: rgba(0, 0, 0, 0.705);
    margin-left: 3px;
    
}
