body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    background-color: #000000e8;
}
.countnbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
   
    
}
section{
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}
.image-div{
    align-content:left ;
}
#albpic{
    width: 300px;
}
#likeButton{
    width: 90px;
    height: 30px;
    color: black;
    background-color: rgba(0, 128, 128, 0.514);
    border: 0;
    border-radius: 5px;
}
#increment-text,#like {
    align-self:top;
    margin-top: 0.8px;
    color: rgba(0, 0, 0, 0.705);
    margin-left: 3px;
    
}
